.logo {
    margin: auto;
    padding-left: 230px;
    padding-top: 10px
}

.addgame{
    margin:auto;
}

div{
    background:none;
}

.left{
    float:left;
    padding:5px;
    margin:50px;
}

.textbox{
    margin:20px;
}

.right {
    float: right;
    margin:100px;
}

.button {
    display: block;
    margin: auto;
    margin-top: 30px;
}

.image{
    margin: auto;
    display:block;
}

.underline{
    margin-left:65px;
}