

.topnav {
    padding-top: 20px;
    padding-left: 750px;
}

.mainmedium{
    width:700px;
    margin-left:100px;
    overflow:auto;
    padding:30px;
    height:500px;
    z-index:2;
    display:inline-block;
    position:relative;
    bottom:60px;
}

.hline{
    position:relative;
    right:300px;
    bottom:800px;
}

.vline{
    margin-bottom:30px;
}

.side{
    width:400px;
    position:absolute;
    right:150px;
    top:300px;
}

.detail{
    display:block;
    margin:20px;
}

.tinytext{
    background:none;
    padding-left:10px;
    margin:5px;
}