* {
    margin: 0;
    padding: 0;
    border: none;
    background: #252525;
}

.topnav{
    width:100%;
    height:150px;
    padding: 10px;
}

.logo {
    width: 573px;
    height: 61px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 1.105em;
    text-transform: uppercase;
    color: #20DBE7;
    text-shadow: 0 0 20px rgba(32, 219, 231, 0.34);
}

.main1 {
    width: 500px;
    height: 500px;
    background: #292929;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
    border-radius: 7px;
}

    .main1:hover {
        box-shadow: 0 0 30px rgba(32, 219, 231, 0.62);
        transition: box-shadow 0.3s ease-in;
    }

.heading {
    width: 399px;
    height: 54px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    color: #1D1D1D;
}

.button {
    width: 162px;
    height: 57px;
    background: #393939;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.34);
    border-radius: 7px;

    /* button text */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.115em;
    text-transform: uppercase;
    color: #228288;
    cursor:pointer;
    outline: none;
}

    .button:hover {
        background: #494949;
    }

    .button:active {
        background: #393939;
    }


.tinytext {
    width: 274px;
    height: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.73);
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.73);
}

.textbox {
    width: 354px;
    height: 47px;
    color: #A8A8A8;
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    font-family: Josefin Sans;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.085em;
    text-transform: lowercase;
    outline: none;
}


.mainmedium {
    width: 1082px;
    height: 868px;
    background: #2E2E2E;
    box-shadow: 0 0 30px rgba(32, 219, 231, 0.7);
    border-radius:7px;
}

.mainsmall {
    width: 366px;
    height: 253px;
    background: #292929;
    box-shadow: 0 0 30px #000000;
    border-radius: 7px;
}

.underline {
    text-decoration-line: underline;
    width: 300px;
    height: 28px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.075em;
    text-transform: lowercase;
    color: #A8A8A8;
}

.picbg {
    width: 100%;
    height: 500px;
    background: #C4C4C4;
    box-shadow: 0 4px 19px rgba(0, 0, 0, 0.56);
}

.text {
    width: 261px;
    height: 64px;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.075em;
    color: #C4C4C4;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.name1 {
    width: 400px;
    height: 87px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #20DBE7;
}

.name2 {
    width: 662px;
    height: 144px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 144px;
    line-height: 144px;
    text-align: center;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #181818;
}

.hline {
    border: 10px solid #D73350;
    transform: rotate(90deg);
}

.vline {
    border: 3px solid #D73350;
    width: 371px;
}

.detail {
    font-family: Montserrat;
    font-size: 36px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #A8A8A8;
    cursor:pointer;
}

.d1{
    outline:none;
}

    .d1:hover{
        color:white;
    }

        .d1:active{
            color:grey;
        }

.addgame {
    width: 1051px;
    height: 501px;
    background: #292929;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
    border-radius: 7px;
}

.image {
    border: 1px solid #A8A8A8;
    width: 200px;
    height:200px;
}

.administraor {
    width: 1051px;
    height: 601px;
    background: #292929;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
    border-radius: 7px;
}

.administraortext {
    width: 522px;
    height: 83px;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    letter-spacing: -0.005em;
    text-transform: lowercase;
    color: #A8A8A8;
}

.administraorbutton {
    width: 327px;
    height: 57px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    color: #C4C4C4;
    cursor: pointer;
    outline: none;
}

    .administraorbutton:hover {
        color: white;
    }

    .administraorbutton:active {
        color: grey;
    }