.logo{
    margin:auto;
    width:60px;
    background:none;
}

.mainmedium{
    margin:auto;
    height:600px;
    margin-top:10px;
}

.tinytext{
    margin:5px;
    background:none;
}

.t1{
    float:left;
}

.t2{
    float:right;
}

.overflow{
    overflow:auto;
    height:550px;
    width: 1000px;
    margin:40px;
}

